
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>YourMovie</title>
    <!-- Bootstrap Core CSS -->
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/css/stylish-portfolio.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

	
	<link rel="stylesheet" href="/css/font-awesome.min.css">
	<link rel="stylesheet" href="/css/home.css">

</head>
<body>
	<img src="" alt="" id="avatar"/>
	
	<div id="logged-in-user-info" style="display: inline-block; float: right; position: relative; padding-bottom: 1%;  bottom: 10px;">
		<a href="" style="color:#ffffff">Log Out</a>	
	</div>

    <nav style=" width: 100%; height: 40px;  margin-bottom: 1%" >
	<input style=" width: 100%; height: 100%; font-size: 18px; box-sizing: border-box; padding-left: 10px"	 type="text" id="site-wide-search" placeholder="search">
	</nav>
	<br/>
	<br/>


	<main style=" width: 70%; display: inline-block;" id="html-main-video-section">
		<video width="100%" controls id="html-main-video">
			<source  src="" type="video/mp4">
 		</video>
 		<p id="main_video_name">Wreck-It Ralph(2012)</p>
 

 		<section id="main-video-icon-session">
 			<span>
 				<i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
				<i class="fa fa-thumbs-up" aria-hidden="true" style="display:none"></i>
 			</span>
 			<span>
 				<i class="fa fa-thumbs-o-down" aria-hidden="true"></i>
 				<i class="fa fa-thumbs-down" aria-hidden="true" style="display:none"></i>
 			</span>
			<span>
	 			<i class="fa fa-heart-o" aria-hidden="true"></i>
				<i class="fa fa-heart" aria-hidden="true" ></i>
			</span>
 		</section>
	</main>
 	<aside style=" float: right; width: 26%; padding:2%"  style="display:none" id="recommendation-section">
 		<div>

 			<video width="100%" controls>
			<source  src="https://s3-us-west-2.amazonaws.com/sadmovie/No-Strings-Attached-Sad-Scene-9yVrWNaBqpk.mp4" id="html-main-video" type="video/mp4">
 			</video>
 			<span>
 			 No Strings Attached(2011)
 			</span>
 		</div>
 		<div>
 			<video width="100%" controls>
			<source  src="https://s3.amazonaws.com/joannahsu82/Les+Mise%CC%81rables+Official+TRAILER+%233+(2012)+-++Hugh+Jackman%2C+Russell+Crowe+Movie+HD-nQ10YRA3VKI.mp4" id="html-main-video" type="video/mp4">
 			</video>
 			<span>
 			Les Miserables
 			</span>
 		</div>
 		<div>
 			<video width="100%" controls>
			<source  src="https://s3.amazonaws.com/crimemovies/Rob+The+Mob+Official+Trailer+%231+(2014)+-+Crime+Movie+HD-C9KVxlC_ITc.mp4" id="html-main-video" type="video/mp4">
 			</video>
 			<span>
 			Rob The Mob(2014)
 			</span>
 		</div>
 		<div>
 			<video width="100%" controls>
			<source  src="https://s3.amazonaws.com/joannahsu82/The+Phantom+of+the+Opera+Trailer+HQ+(2004)-y3ExznvzqGU.mp4" id="html-main-video" type="video/mp4">
 			</video>
 			<span>
 			The Phanton of the Opera
 			</span>

 		</div>
 	</aside>
 	<script src="/js/jquery.min.js"></script>
 	<script src="/js/util.js"></script>
	<script src="/js/home.js"></script>
	<script src="/js/events.js"></script>

</body>
</html>