
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>YourMovie</title>
	<link rel="stylesheet" href="../static/css/font-awesome.min.css">
	<link rel="stylesheet" href="../static/css/home.css">
</head>
<body>
    <nav></nav>
	<input style=" width: 90%; height: 40px;" type="text" id="site-wide-search" placeholder="search">
	<img src="" alt="" id="avatar"/>
	
	<div id="logged-in-user-info">
		<a href="">Log Out</a>	
	</div>

	<br/>
	<br/>

	<main style=" width: 70%; display: inline-block;" id="html-main-video-section">
		<video width="100%" id="html-main-video" controls>
			<source  src="../static/SampleVideo_1280x720_1mb.mp4" type="video/mp4">
			    Your browser does not support HTML5 video.
 		</video>

 		<section >
 			<span>
 				<i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
				<i class="fa fa-thumbs-up" aria-hidden="true" style="display:none"></i>
 			</span>
 			<span>
 				<i class="fa fa-thumbs-o-down" aria-hidden="true"></i>
 				<i class="fa fa-thumbs-down" aria-hidden="true" style="display:none"></i>
 			</span>
			<span>
	 			<i class="fa fa-heart-o" aria-hidden="true"></i>
				<i class="fa fa-heart" aria-hidden="true" ></i>
			</span>
 		</section>
	</main>
 	<aside style=" float: right; width: 26%; padding-left:2%; padding-right:2%">
 		<div>
	 		<a href="./" class="recommended-movie">
	 			<img src="http://placehold.it/250x150" alt="">
	 			<span>
	 			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui dicta minus molestiae vel beatae natus eveniet ratione temporibus aperiam harum alias officiis assumenda officia quibusdam deleniti eos cupiditate dolore doloribus!
	 			</span> 			
	 		</a>	
 		</div>
 		<div>
	 		<a href="" class="recommended-movie" >
	 			<img src="http://placehold.it/250x150" alt="">
	 			<span>
	 			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui dicta minus molestiae vel beatae natus eveniet ratione temporibus aperiam harum alias officiis assumenda officia quibusdam deleniti eos cupiditate dolore doloribus!
	 			</span>
 			</a>	
 		</div>
 		<div>
 			<img src="http://placehold.it/250x150" alt="">
 			<span>
 			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui dicta minus molestiae vel beatae natus eveniet ratione temporibus aperiam harum alias officiis assumenda officia quibusdam deleniti eos cupiditate dolore doloribus!
 			</span>
 		</div>
 		<div>
 			<img src="http://placehold.it/250x150" alt="">
 			<span>
 			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui dicta minus molestiae vel beatae natus eveniet ratione temporibus aperiam harum alias officiis assumenda officia quibusdam deleniti eos cupiditate dolore doloribus!
 			</span>
 		</div>
 	</aside>
	<script src="../static/js/home.js"></script>

</body>
</html>