
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>YourMovie</title>
</head>
<body>
    <nav></nav>
	<input style=" width: 90%; height: 40px;" type="text" id="site-wide-search" placeholder="search">
	<img src="" alt="" id="avatar"/>
	<a href="">Log Out</a>

	<br/>
	<br/>

	<main style=" width: 70%; display: inline-block;">
		<video width="100%" controls>
			<source  src="../static/SampleVideo_1280x720_1mb.mp4" id="html-main-video" type="video/mp4">
			    Your browser does not support HTML5 video.

 		</video>
 		<section>
 			<textarea style="width:100%" name="" id="" cols="30" rows="10"></textarea>


 		</section>
	</main>
 	<aside style=" float: right; width: 26%; padding:2%">
 		<div>
 			<img src="http://placehold.it/250x150" alt="">
 			<span>
 			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui dicta minus molestiae vel beatae natus eveniet ratione temporibus aperiam harum alias officiis assumenda officia quibusdam deleniti eos cupiditate dolore doloribus!
 			</span>
 		</div>
 		<div>
 			<img src="http://placehold.it/250x150" alt="">
 			<span>
 			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui dicta minus molestiae vel beatae natus eveniet ratione temporibus aperiam harum alias officiis assumenda officia quibusdam deleniti eos cupiditate dolore doloribus!
 			</span>
 		</div>
 		<div>
 			<img src="http://placehold.it/250x150" alt="">
 			<span>
 			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui dicta minus molestiae vel beatae natus eveniet ratione temporibus aperiam harum alias officiis assumenda officia quibusdam deleniti eos cupiditate dolore doloribus!
 			</span>
 		</div>
 		<div>
 			<img src="http://placehold.it/250x150" alt="">
 			<span>
 			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui dicta minus molestiae vel beatae natus eveniet ratione temporibus aperiam harum alias officiis assumenda officia quibusdam deleniti eos cupiditate dolore doloribus!
 			</span>
 		</div>
 	</aside>

</body>
</html>